In [31]:

import pandas as pd
import numpy as np

#Create test df, and test list for functions
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})

In [37]:
class Song:
    def __init__(self, tempo, genre):
        self.tempo = tempo
        self.genre = genre

    def songstats(self):
        print("The song tempo is ", self.tempo,
        "and the genre is ", self.genre)

In [42]:
fire = Song(132, "Rock")
print(fire.tempo)
print(fire.genre)

132
Rock

In [33]:
def nullfinder(df):
    '''
    this function will print out all the nulls found in each column
    of the dataframe
    '''

    print("Null totals in each column:")
    print(df.isnull().sum())

In [34]:
nullfinder(df)

Null totals in each column:
col1    0
col2    0
dtype: int64

In [35]:
def listocol(list_, df):
    '''
    this function will convert a list to a column
     onto the dataframe provided
    '''
    
    df = df.assign(listocol= list_)

    return df

In [36]:
testlist = [25, 32]

listocol(testlist, df)

   col1  col2  listocol
0     1     3        25
1     2     4        32