In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})

In [2]:
df

   col1  col2
0     1     3
1     2     4

In [3]:
def nullfinder(df):
    print("Null totals in each column:")
    print(df.isnull().sum())

In [4]:
nullfinder(df)

Null totals in each column:
col1    0
col2    0
dtype: int64

In [37]:
def listocol(list_, df):
    
    df = df.assign(listocol= list_)

    return df

In [34]:
testlist = [25, 32]

In [39]:
listocol(testlist, df)

   col1  col2  listocol
0     1     3        25
1     2     4        32